<div class="col-sm-4 col-md-3">
  <div class="stat-block">
    <div class="stat-title">
      <span class="stat-label">
        {{openJob.title}}
      </span>
    </div>
    <div class="stat-details clearfix">
      <div class="row breakdown">
          <span class="side-text clear">
            Applicants in progress
            <span class="color-lg-blue pull-right">{{openJob.inProgress}}</span>
          </span>
          <span class="side-text clear">
            Applicants rejected
            <span class="color-lg-blue pull-right">{{openJob.rejected}}</span>
          </span>
          <span class="side-text clear">
            Applicants hired
            <span class="color-lg-blue pull-right">{{openJob.hired}}</span>
          </span>
      </div>
    </div>
  </div>
</div>