{
  "development": {
    "type": "service_account",
    "project_id": "a_project_id",
    "private_key_id": "a_private_key_id",
    "private_key": "-----BEGIN PRIVATE KEY-----\nHASH_OF_private_key\n-----END PRIVATE KEY-----\n",
    "client_email": "client_email@client_email.iam.gserviceaccount.com",
    "client_id": "a_client_id",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/something%40something.iam.gserviceaccount.com"
  },
  "production": {
    "type": "service_account",
    "project_id": "a_project_id",
    "private_key_id": "a_private_key_id",
    "private_key": "-----BEGIN PRIVATE KEY-----\nHASH_OF_private_key\n-----END PRIVATE KEY-----\n",
    "client_email": "client_email@client_email.iam.gserviceaccount.com",
    "client_id": "a_client_id",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://accounts.google.com/o/oauth2/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/something%40something.iam.gserviceaccount.com"
  }
}
