{
  "development": {
    "bucket_name": "name_of_S3_bucket",
    "accessKeyId": "accessIdOfBucketForDevelopmentEnvironment",
    "secretAccessKey": "accessSecretKeyOfBucketForProductionEnvironment",
  },
  "production": {
    "bucket_name": "name_of_S3_bucket",
    "accessKeyId": "accessIdOfBucketForDevelopmentEnvironment",
    "secretAccessKey": "accessSecretKeyOfBucketForProductionEnvironment"
  }
}