<form (ngSubmit)="submit(position)" [ngFormModel]="formGroup">
  <div class="form-group">
    <label>Name *</label>
    <input type="text" class="form-control" [(ngModel)]="position.title"
           ngControl="title" id="title"/>
    <control-messages control="title" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group">
    <label>Description *</label>
    <textarea class="form-control" rows="5"
              [(ngModel)]="position.description"
              ngControl="description" id="description"></textarea>
    <control-messages control="description" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group">
    <label>Specification *</label>
    <textarea class="form-control" rows="5"
              [(ngModel)]="position.specification"
              ngControl="specification" id="specification"></textarea>
    <control-messages control="specification" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit">
        <i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>
