node_modules
.idea
knexfile.js
*.log
secret-config.json


# Angular Front end Gitignore
angular2-frontend/dist
angular2-frontend/node_modules
angular2-frontend/typings
angular2-frontend/npm-debug.log
