node_modules
.idea
*.log
client_secret.json
config/secret_config/dbConfig.json
config/secret_config/s3Config.json
config/secret_config/googleSpreadsheet.json
config/secret_config/googleServiceAccountCredentials.json


# Angular Front end Gitignore
angular2-frontend/dist
angular2-frontend/src
angular2-frontend/node_modules
angular2-frontend/npm-debug.log

angular2-frontend/typings/
