<div class="block-title-border">Applicant Details</div>
<form class="applicant-form" (ngSubmit)="submit(applicant)" #stageForm="ngForm">
  <div class="form-group subform clearfix">
    <div class="row multiple-element">
      <div class="col-md-6 col-lg-4 element">
        <label>Job Type</label>
        <select class="form-control"
                [(ngModel)]="applicant.job_id">
          <option *ngFor="let job of jobs" [value]="job.id">{{job.title}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-user" aria-hidden="true"></i>
      Profile
    </div>
    <div class="clearfix">
      <div class="basic-info">
        <div class="form-group">
          <label>Full Name</label>
          <input class="form-control" data-role="tags-input" type="text" [(ngModel)]="applicant.profile.name"
                 ngControl="profile_name" #profile_name="ngForm"/>
          <span [hidden]="profile_name.valid || profile_name.untouched"
                class="text-danger">{{'Please provide your name.'}}</span>
        </div>
        <div class="form-group clearfix">
          <div class="row multiple-element">
            <div class="col-md-6 col-lg-6 element">
              <label>Email</label>
              <input class="form-control" type="email" [(ngModel)]="applicant.profile.email"
                     ngControl="profile_email" #profile_email="ngForm"/>
              <span [hidden]="profile_email.valid || profile_email.untouched"
                    class="text-danger">{{'Please provide your correct email.'}}</span>
            </div>
            <div class="col-md-6 col-lg-6 element">
              <label>Address</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.profile.address"
                     ngControl="profile_address" #profile_address="ngForm"/>
              <span [hidden]="profile_address.valid || profile_address.untouched"
                    class="text-danger">{{'Please provide your address.'}}</span>
            </div>
          </div>
        </div>
        <div class="form-group clearfix">
          <div class="row multiple-element">
            <div class="col-md-6 col-lg-6 element">
              <label>Linkedin</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.profile.linkedin"
                     ngControl="profile_linkedin" #profile_linkedin="ngForm"/>
            </div>
            <div class="col-md-6 col-lg-6 element">
              <label>Phone Number</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.profile.phoneNumber"
                     ngControl="profile_phone" #profile_phone="ngForm"/>
              <span [hidden]="profile_phone.valid || profile_phone.untouched"
                    class="text-danger">{{'Please provide your phone number.'}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="passport-pic col-lg-2">
        <div class="passport-photo"><img id="passport-photo" src="app/shared/assets/images/avatar2.png"/></div>
        <div>
          <input type="file" class="file-upload" size="chars" (change)="upload($event)">
          <button class="btn btn-sm btn-success text-uppercase" (click)="uploadProfilePhoto($event)"><i
          class="fa fa-file" aria-hidden="true"></i>Upload
            Picture
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-bookmark fa-lg" aria-hidden="true"></i>
      Your Key Skills
    </div>
    <ul id="myTags">
    </ul>
  </div>

  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-building fa-lg" aria-hidden="true"></i>
      Your Experience Details
      <div class="block-options">
        <a href="#" (click)="addObject('experience', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let experience of applicant.experiences let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-4 element">
          <label>Company</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.experiences[index].company"/>
        </div>
        <div class="col-sm-3 element">
          <label>Designation</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.experiences[index].designation"/>
        </div>
        <div class="col-sm-2 element">
          <label>From</label>
          <div class="input-group date datepicker1">
            <input type="text" class="form-control experience-from"
                   [(ngModel)]="applicant.experiences[index].startDate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
        <div class="col-sm-2 element">
          <label>To</label>
          <div class="input-group date datepicker2">
            <input type="text" class="form-control experience-to" [(ngModel)]="applicant.experiences[index].endDate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
        <a *ngIf="applicant.experiences.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('experience', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-desktop fa-lg" aria-hidden="true"></i>
      Portfolio
      <div class="block-options">
        <a href="#" (click)="addObject('portfolio', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let portfolio of applicant.portfolios let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-3 element">
          <label>Project Name</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].title"/>
        </div>
        <div class="col-sm-3 element">
          <label>Link</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].link"/>
        </div>
        <div class="col-sm-5 element">
          <label>Description</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].description"/>
        </div>
        <div class="col-sm-11">
          <label>Area/Technology</label>
          <ul class="portfolioTags" id="{{'portfolioTags' + index}}">
          </ul>
        </div>
        <a *ngIf="applicant.portfolios.length > 1" class="btn btn-sm btn-default delete-portfolio" href="#"
           (click)="deleteObject('portfolio', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-graduation-cap fa-lg" aria-hidden="true"></i>
      Your Educational Background
      <div class="block-options">
        <a href="#" (click)="addObject('education', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let education of applicant.educations let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-6 element">
          <label>Degree</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].degree"/>
        </div>
        <div class="col-sm-5 element">
          <label>University</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].university"/>
        </div>
      </div>
      <div class="row multiple-element relative">
        <div class="col-sm-6 element">
          <label>College</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].college"/>
        </div>
        <div class="col-sm-2 element">
          <label>Grade</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].grade"/>
        </div>
        <div class="col-sm-3 element">
          <label>Passed Year</label>
          <input class="form-control" type="number" [(ngModel)]="applicant.educations[index].passedYear"/>
        </div>
        <a *ngIf="applicant.educations.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('education', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-trophy fa-lg" aria-hidden="true"></i>
      Certificates, Trainings and Publications
      <div class="block-options">
        <a href="#" (click)="addObject('training', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let training of applicant.trainings let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-3 element">
          <label>Title</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.trainings[index].title"/>
        </div>
        <div class="col-sm-6 element">
          <label>Description</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.trainings[index].description"/>
        </div>
        <div class="col-sm-2 element">
          <label>Passed Year</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.trainings[index].passedYear"/>
        </div>
        <a *ngIf="applicant.trainings.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('training', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-futbol-o fa-lg" aria-hidden="true"></i>
      Hobbies
    </div>
    <ul id="hobbyTags">
    </ul>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-thumbs-up fa-lg" aria-hidden="true"></i>
      References
      <div class="block-options">
        <a href="#" (click)="addObject('reference', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let reference of applicant.references let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-4 element">
          <label>Full Name</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].name"/>
        </div>
        <div class="col-sm-4 element">
          <label>Organization</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].organization"/>
        </div>
        <div class="col-sm-3 element">
          <label>Designation</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].designation"/>
        </div>
        <div class="col-sm-4 element">
          <label>Email</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].email"/>
        </div>
        <div class="col-sm-4 element">
          <label>Phone Number</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].phoneNumber"/>
        </div>
        <div class="col-sm-3 element">
          <label>Relationship</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].relationship"/>
        </div>
        <a *ngIf="applicant.references.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('reference', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-file-text fa-lg" aria-hidden="true"></i>
      Cover Letter
    </div>
    <div class="col-lg-12">
      <textarea class="form-control"
                placeholder="Tell us something about you and your interest to join Leapfrog. (Not exceeding 250 words)"
                [(ngModel)]="applicant.coverLetter">
      </textarea>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-file-text fa-lg" aria-hidden="true"></i>
      Upload Your Resume
    </div>
    <div class="col-sm-4">
      <input id="resume" type="file"/>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-hand-o-right fa-lg source-header" aria-hidden="true"></i>
      Where did you hear about us?
    </div>
    <div class="col-sm-4">
      <select class="form-control" [(ngModel)]="applicant.source">
        <option value="website">Leapfrog Website</option>
        <option value="newspaper">Newspaper</option>
        <option value="social">Social Media</option>
        <option value="friend">LeapFrog's Friend</option>
        <option value="other">Others</option>
      </select>
    </div>

    <div class="checkbox-elements">
      <div class="checkbox checkbox-styled">
        <label>
          <input type="hidden" value="0"/><input type="checkbox" value="1" [(ngModel)]="applicant.notifications"/>
          <span>I would like to get occasional notifications from Leapfrog</span>
        </label>
      </div>
      <div class="checkbox checkbox-styled">
        <label>
          <input type="hidden" value="0"/><input id="agreement" type="checkbox" value="1"
                                                 [(ngModel)]="applicant.agreement"/>
          <span>By clicking submit, I agree <a>terms and conditions</a></span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit">
        <i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>
