<div class="block-title-border">Applicant Details</div>
<form *ngIf="applicant" class="applicant-form" (ngSubmit)="submit(applicant)" [ngFormModel]="formGroup">
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-user" aria-hidden="true"></i>
      Profile
    </div>
    <div class="clearfix">
      <div class="basic-info">
        <div class="form-group">
          <label>Full Name *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.name"
                 ngControl="name" id="name"/>
          <control-messages control="name" [submitted]="submitted"></control-messages>
        </div>

        <div class="form-group clearfix">
          <div class="row multiple-element">
            <div class="col-md-6 col-lg-6 element">
              <label>Email *</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.email"
                     ngControl="email" id="email"/>
              <control-messages control="email" [submitted]="submitted"></control-messages>
            </div>

            <div class="col-md-6 col-lg-6 element">
              <label>Address *</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.address"
                     ngControl="address" id="address"/>
              <control-messages control="address" [submitted]="submitted"></control-messages>
            </div>
          </div>
        </div>

        <div class="form-group clearfix">
          <div class="row multiple-element">
            <div class="col-md-6 col-lg-6 element">
              <label>Linkedin</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.linkedin"/>
            </div>

            <div class="col-md-6 col-lg-6 element">
              <label>Phone Number *</label>
              <input class="form-control" type="text" [(ngModel)]="applicant.phone_number"
                     ngControl="phone_number" id="phone_number"/>
              <control-messages control="phone_number" [submitted]="submitted"></control-messages>
            </div>
          </div>
        </div>
      </div>

      <div class="passport-pic col-lg-2">
        <div class="passport-photo"><img id="passport-photo" src="app/shared/assets/images/avatar2.png"/></div>
        <div>
          <input type="file" class="file-upload" size="chars" (change)="upload($event)">
          <button class="btn btn-sm btn-success text-uppercase" (click)="triggerPhotoUploadClickEvent($event)"><i
          class="fa fa-file" aria-hidden="true"></i>Upload
            Picture
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-bookmark fa-lg" aria-hidden="true"></i>
      Your Key Skills
    </div>
    <ul id="myTags">
    </ul>
  </div>

  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-building fa-lg" aria-hidden="true"></i>
      Your Experience Details <span class="optional-field">(Optional)</span>
      <div class="block-options">
        <a href="#" (click)="addObject('experience', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let experience of applicant.experiences let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-4 element">
          <label>Company</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.experiences[index].company"/>
        </div>
        <div class="col-sm-3 element">
          <label>Designation</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.experiences[index].designation"/>
        </div>
        <div class="col-sm-2 element">
          <label>From</label>
          <div class="input-group date datepicker1" id="{{'datepicker1' + index}}">
            <input type="text" class="form-control experience-from"
                   [(ngModel)]="applicant.experiences[index].startDate"/>
                    <span class="input-group-addon calendar-icon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
        <div class="col-sm-2 element">
          <label>To</label>
          <div class="input-group date datepicker2" id="{{'datepicker2' + index}}">
            <input type="text" class="form-control experience-to" [(ngModel)]="applicant.experiences[index].endDate"/>
                    <span class="input-group-addon calendar-icon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
        <a *ngIf="applicant.experiences.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('experience', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-desktop fa-lg" aria-hidden="true"></i>
      Portfolio
      <div class="block-options">
        <a href="#" (click)="addObject('portfolio', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let portfolio of applicant.portfolios let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-3 element" ngControlGroup="portfolioTitle">
          <label>Project Name *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].title"
                 ngControl="{{index}}" id="{{'portfolioTitle' + index}}"/>
          <control-messages control="{{index}}" controlArray="portfolioTitle"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-3 element">
          <label>Link</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].link"/>
        </div>
        <div class="col-sm-5 element" ngControlGroup="portfolioDescription">
          <label>Description *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.portfolios[index].description"
                 ngControl="{{index}}" id="{{'portfolioDescription' + index}}"/>
          <control-messages control="{{index}}" controlArray="portfolioDescription"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-11 relative">
          <label>Area/Technology</label>
          <ul class="portfolioTags" id="{{'portfolioTags' + index}}">
          </ul>
          <a *ngIf="applicant.portfolios.length > 1" class="btn btn-sm btn-default delete-portfolio" href="#"
             (click)="deleteObject('portfolio', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-graduation-cap fa-lg" aria-hidden="true"></i>
      Your Educational Background
      <div class="block-options">
        <a href="#" (click)="addObject('education', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let education of applicant.educations let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-6 element" ngControlGroup="educationDegree">
          <label>Degree *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].degree" ngControl="{{index}}"
                 id="{{'educationDegree' + index}}"/>
          <control-messages control="{{index}}" controlArray="educationDegree"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-5 element" ngControlGroup="educationUniversity">
          <label>University *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].university"
                 ngControl="{{index}}" id="{{'educationUniversity' + index}}"/>
          <control-messages control="{{index}}" controlArray="educationUniversity"
                            [submitted]="submitted"></control-messages>
        </div>
      </div>
      <div class="row multiple-element relative">
        <div class="col-sm-6 element" ngControlGroup="educationCollege">
          <label>College *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].college"
                 ngControl="{{index}}" id="{{'educationCollege' + index}}"/>
          <control-messages control="{{index}}" controlArray="educationCollege"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-2 element" ngControlGroup="educationGrade">
          <label>Grade *</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.educations[index].grade" ngControl="{{index}}"
                 id="{{'educationGrade' + index}}"/>
          <control-messages control="{{index}}" controlArray="educationGrade"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-3 element" ngControlGroup="educationPassedYear">
          <label>Passed Year *</label>
          <input class="form-control" type="number" [(ngModel)]="applicant.educations[index].passedYear"
                 ngControl="{{index}}" id="{{'educationPassedYear' + index}}"/>
          <control-messages control="{{index}}" controlArray="educationPassedYear"
                            [submitted]="submitted"></control-messages>
        </div>
        <a *ngIf="applicant.educations.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('education', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-trophy fa-lg" aria-hidden="true"></i>
      Certificates, Trainings and Publications <span class="optional-field">(Optional)</span>
      <div class="block-options">
        <a href="#" (click)="addObject('achievement', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let achievement of applicant.achievements let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-3 element">
          <label>Title</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.achievements[index].title"/>
        </div>
        <div class="col-sm-6 element">
          <label>Description</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.achievements[index].description"/>
        </div>
        <div class="col-sm-2 element" ngControlGroup="achievementPassedYear">
          <label>Passed Year</label>
          <input class="form-control" type="number" [(ngModel)]="applicant.achievements[index].passedYear"
                 ngControl="{{index}}" id="{{'achievementPassedYear' + index}}"/>
          <control-messages control="{{index}}" controlArray="achievementPassedYear"
                            [submitted]="submitted"></control-messages>
        </div>
        <a *ngIf="applicant.achievements.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('achievement', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-futbol-o fa-lg" aria-hidden="true"></i>
      Hobbies
    </div>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="applicant.hobbies"
             id="hobbies"/>
    </div>
  </div>
  <div class="subform">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-thumbs-up fa-lg" aria-hidden="true"></i>
      References <span class="optional-field">(Optional)</span>
      <div class="block-options">
        <a href="#" (click)="addObject('reference', $event)"
           class="btn btn-alt btn-sm btn-default">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div *ngFor="let reference of applicant.references let index=index" class="form-group clearfix">
      <div class="row multiple-element relative">
        <div class="col-sm-4 element" ngControlGroup="referenceFullName">
          <label>Full Name</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].name" ngControl="{{index}}"
                 id="{{'referenceFullName' + index}}"/>
          <control-messages control="{{index}}" controlArray="referenceFullName"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-4 element">
          <label>Organization</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].organization"/>
        </div>
        <div class="col-sm-3 element">
          <label>Designation</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].designation"/>
        </div>
      </div>
      <div class="row multiple-element relative">
        <div class="col-sm-4 element" ngControlGroup="referenceEmail">
          <label>Email</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].email" ngControl="{{index}}"
                 id="{{'referenceEmail' + index}}"/>
          <control-messages control="{{index}}" controlArray="referenceEmail"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-4 element" ngControlGroup="referencePhone">
          <label>Phone Number</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].phoneNumber"
                 ngControl="{{index}}" id="{{'referencePhone' + index}}"/>
          <control-messages control="{{index}}" controlArray="referencePhone"
                            [submitted]="submitted"></control-messages>
        </div>
        <div class="col-sm-3 element">
          <label>Relationship</label>
          <input class="form-control" type="text" [(ngModel)]="applicant.references[index].relationship"/>
        </div>
        <a *ngIf="applicant.references.length > 1" class="btn btn-sm btn-default delete-subform" href="#"
           (click)="deleteObject('reference', index, $event)"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-file-text fa-lg" aria-hidden="true"></i>
      Cover Letter
    </div>
    <div class="col-lg-12">
      <textarea class="form-control"
                placeholder="Tell us something about you and your interest to join Leapfrog. (Not exceeding 250 words)"
                [(ngModel)]="applicant.coverLetter" ngControl="coverLetter" id="coverLetter">
      </textarea>
      <control-messages control="coverLetter" [submitted]="submitted"></control-messages>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-file-text fa-lg" aria-hidden="true"></i>
      Upload Your Resume
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <input type="file" id="resume-upload" size="chars" (change)="uploadResume($event)"/>
        <input type="text" class="form-control" id="resume-input" readonly/>
        <span class="input-group-addon" (click)="triggerResumeUploadClickEvent($event)">
        <span class="fa fa-file-word-o"></span>
      </span>
      </div>
    </div>
  </div>
  <div class="subform clearfix">
    <div class="subform-title block-title-border">
      <i class="fa fa-fw fa-hand-o-right fa-lg source-header" aria-hidden="true"></i>
      Where did you hear about us?
    </div>
    <div class="col-sm-4">
      <select class="form-control" [(ngModel)]="applicant.source" (change)="removeSourceDescription()">
        <option value="website" selected>Leapfrog Website</option>
        <option value="newspaper">Newspaper</option>
        <option value="social">Social Media</option>
        <option value="friend">LeapFrog's Friend</option>
        <option value="other">Others</option>
      </select>
    </div>
    <div class="col-sm-4" *ngIf="applicant.source=='other'">
      <input class="form-control" placeholder="source" [(ngModel)]="applicant.source_description"
             ngControl="sourceDescriptionOther" id="sourceDescriptionOther"/>
      <control-messages control="sourceDescriptionOther" [submitted]="submitted"></control-messages>
    </div>
    <div class="col-sm-4" *ngIf="applicant.source=='friend'">
      <input class="form-control" placeholder="Friend's name" [(ngModel)]="applicant.source_description"
             ngControl="sourceDescriptionName" id="sourceDescriptionName"/>
      <control-messages control="sourceDescriptionName" [submitted]="submitted"></control-messages>
    </div>
    <div class="col-sm-4" *ngIf="applicant.source=='social'">
      <select class="form-control" [(ngModel)]="applicant.source_description">
        <option disabled selected>Please select</option>
        <option value="facebook">Facebook</option>
        <option value="linkedin">LinkedIn</option>
        <option value="tweeter">Tweeter</option>
      </select>
    </div>

    <div class="checkbox-elements">
      <div class="checkbox checkbox-styled">
        <label>
          <input type="hidden" value="0"/><input type="checkbox" value="1" [(ngModel)]="applicant.notifications"/>
          <span>I would like to get occasional notifications from Leapfrog</span>
        </label>
      </div>
      <div class="checkbox checkbox-styled">
        <label>
          <input type="hidden" value="0"/><input id="agreement" type="checkbox" value="1"
                                                 [(ngModel)]="agreement"/>
          <span>By clicking submit, I agree <a>terms and conditions</a></span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit">
        <i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>
