<div class="push-bit clearfix">
  <div *ngIf="interviewStage=='add'" class="col-md-6 col-lg-4 element">
    <select class="form-control" [(ngModel)]="selectedStageId" (change)="changeStageId($event.target.value)">
      <option *ngFor="let stage of stages" [value]="stage.id">{{stage.title}}</option>
    </select>
  </div>
  <div *ngIf="interviewStage=='edit'" class="timeline-item-title edit-interview">{{selectedStage.title}}</div>

</div>
<div class="push-bit clearfix">
  <div class="col-sm-4 element">
    <div class="input-group date" id="datepicker">
      <input type="text" class="form-control" id="scheduledDate"
      />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
    </div>
  </div>

</div>
<div class="push-bit clearfix">
  <div class="col-sm-4 element" *ngIf="selectedStage.title=='Face to Face Interview'">
    <select class="form-control" [(ngModel)]="selectedStage.interview.meeting_room">
      <option value="0" selected>Select meeting room</option>
      <option value="Manakamana">Manakamana</option>
      <option value="Bouddha">Bouddha</option>
      <option value="Swayambhu">Swayambhu</option>
      <option value="Kalinchowk">Kalinchowk</option>
    </select>
  </div>
  <div class="col-sm-4 element" *ngIf="selectedStage.title=='Face to Face Interview'">
    <div class="input-group bootstrap-timepicker timepicker">
      <input id="timepicker1" type="text" class="form-control input-small" placeholder="From">
    </div>
    <div class="input-group angle-icon">
      <span class="input-group-addon">
        <i class="fa fa-angle-right"></i>
      </span>
    </div>
    <div class="input-group bootstrap-timepicker timepicker">
      <input id="timepicker2" type="text" class="form-control input-small" placeholder="To">
    </div>
  </div>
</div>
<div class="push-bit clearfix">
  <div class="col-sm-12 element">
    <ul id="employees">

    </ul>
  </div>
</div>
<div class="push-bit clearfix">
  <div class="col-sm-12">
    <button *ngIf="interviewStage=='edit'" class="btn btn-sm btn-danger margin-15 pull-right" (click)="cancelEdit()">
      Cancel
    </button>
    <button class="btn btn-sm btn-success pull-right" (click)="submitStage()">
      Proceed
    </button>
  </div>
</div>
