<div class="block-wrapper">
  <div class="block-title-border">
    <i class="fa fa-user" aria-hidden="true"></i>
    Profile
  </div>
  <div class="row multiple-element">
    <div class="col-sm-4">
      <div class="common-view"><span class="view-label">Email</span>
        <p class="pre-line">bishal@gmail.com</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="common-view"><span class="view-label">Linkedin</span>
        <p class="pre-line">bishalshr</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="common-view"><span class="view-label">Address</span>
        <p class="pre-line">Chabahil</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="common-view"><span class="view-label">Phone</span>
        <p class="pre-line">98765456</p>
      </div>
    </div>
  </div>
  <div class="row multiple-element">
    <div class="col-sm-4">
      <div class="common-view"><span class="view-label">Skills</span>
        <p class="pre-line">java, php, javascript, react, angular2</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="common-view"><span class="view-label">Source</span>
        <p class="pre-line">Social Media</p>
      </div>
    </div>
  </div>
</div>