<form *ngIf="stage" (ngSubmit)="submit(stage)" #stageForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" required
           [(ngModel)]="stage.name"
           ngControl="name" #name="ngForm">
    <span [hidden]="name.valid || name.untouched"
          class="text-danger">Please provide Stage name.</span>
  </div>

  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit"
              [disabled]="!stageForm.form.valid">
        <i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>
