<form (ngSubmit)="submit(stage)" [ngFormModel]="formGroup">
  <div class="form-group">
    <label>Name *</label>
    <input type="text" class="form-control" [(ngModel)]="stage.name"
           ngControl="name" id="name" />
    <control-messages control="name" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>
