<div id="sidebar">
    <div class="sidebar-scroll">
        <div class="sidebar-content">
            <h1><a href="index.html" class="sidebar-brand">Leapfrog Recruitment
                System</a></h1>
            <ul class="sidebar-nav">
                <li>
                    <a [routerLink]="['Dashboard']"
                       [class.active]="router.isRouteActive(router.generate(['/Dashboard']))"><i
                            class="fa fa-dashboard fa-fw"></i><span
                            class="xn-text">Dashboard</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>