<page-header [pageHeader]="'Applicants List'"></page-header>
<div class="block full">
  <div class="block-title">
    <h2>Applicant Details</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-vcenter table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>S.N.</th>
        <th class="cursor-pointer noselect" (click)="sort('name')">Name<i class="fa pull-right"
                                                                          ngClass="{{sorter.name}}"></i></th>
        <th class="cursor-pointer noselect" (click)="sort('appliedFor')">Job Applied For<i class="fa pull-right"
                                                                                           ngClass="{{sorter.appliedFor}}"></i>
        </th>
        <th class="cursor-pointer noselect" (click)="sort('total_experience')">Experience<i class="fa pull-right"
                                                                                              ngClass="{{sorter.total_experience}}"></i>
        </th>
        <th>Hiring Stage(Static)</th>
        <th>Phone</th>
        <th class="cursor-pointer noselect" (click)="sort('created_at')">Applied Date<i class="fa pull-right"
                                                                                         ngClass="{{sorter.created_at}}"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let applicant of applicants;  let index = index">
        <td>{{(currentPage - 1) * 10 + index + 1}}</td>
        <td><a [routerLink]="['ApplicantShow', {id: applicant.id}]" title="Applicant Detail"
        >
          {{applicant.name}}</a></td>
        <td>{{applicant?.appliedFor}}</td>
        <td>{{applicant?.total_experience}}</td>
        <td>Pending</td>
        <td>{{applicant.phone_number}}</td>
        <td>{{getDate(applicant.created_at)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination [totalCount]="totalCount" (refreshList)="refreshList($event)"></pagination>
</div>
