<div class="block-wrapper">
  <div class="block-title-border">
    <i class="fa fa-fw fa-graduation-cap fa-lg" aria-hidden="true"></i>
    Educaions
  </div>
  <div class="table-responsive">
    <table
    class="table table-vcenter table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>SN</th>
        <th>Degree</th>
        <th>University</th>
        <th>College</th>
        <th>Grade</th>
        <th>Passed Year</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let education of educations;  let index = index">
        <td>{{index + 1}}</td>
        <td>{{education.degree}}</td>
        <td>{{education.university}}</td>
        <td>{{education.college}}</td>
        <td>{{education.grade}}</td>
        <td>{{education.passed_year}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>