<div class="row" *ngIf="stage">
  <div class="col-lg-12">
    <div class="content-header">
      <div class="header-section">
        <h1>New Stage</h1>
      </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
      <li>
        <a [routerLink]="['/Dashboard']">Home</a>
      </li>
      <li>
        <a [routerLink]="['StageList']">Stages</a>
      </li>
      <li>
        New Stage
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="block full">
      <stage-form [stage]="stage"
                     (onSubmit)="onSubmit($event)"></stage-form>
    </div>
  </div>
</div>

