<div class="block-wrapper">
  <div class="row">
    <div class="col-sm-12 clearfix">
      <div class="passport-photo">
        <img id="passport-photo" src="app/shared/assets/images/avatar2.png"/>
      </div>
      <div class="applicant-details">
              <span class="applicant-profile"><strong>Bishal Shrestha</strong><span
              class="glyphicon glyphicon-download pull-right"></span></span>
        <span class="applicant-profile">Status: Pending</span>
        <span class="applicant-profile">Applied On: Feb 27, 2014</span>
        <span class="applicant-profile">Applied For: Project Manager</span>
      </div>
    </div>
  </div>
</div>