<div class="block-wrapper">
  <div class="block-title-border">
    Hiring Pipeline
  </div>
  <p>There is no hiring pipeline for the candidate at the moment as the applicant applied directly without a job
    opening. Please assign to an open job or assign to an existing hiring pipeline.</p>
  <div class="form-group clearfix">
    <div class="row multiple-element">
      <div class="col-sm-3 element">
        <select class="form-control"
                [(ngModel)]="job_id">
          <option [value]="0">Assign to open job</option>
          <option *ngFor="let job of jobs" [value]="job.id">{{job.title}}</option>
        </select>
      </div>
      <div class="col-sm-1 element assign-btn">
        <button class="btn btn-primary" (click)="assignToJob()">Assign</button>
      </div>
      <div class="col-sm-1 separate-fields">OR</div>
      <div class="col-sm-2 element">
        <button class="btn btn-primary" (click)="startTimelinew()">Start timeline</button>
      </div>
    </div>

  </div>
</div>