.fa-check-circle {
  margin-right : 10px;
  color        : green;
}

.paragraph {
  margin    : 10px 0;
  font-size : 14px;
}

h5 {
  margin-top    : 15px;
  margin-bottom : 5px;
}

.contact-header {
  min-width : 100px;
  display   : inline-block;
}