<div id="page-container">
  <div id="main-container">
    <div id="page-content">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="block full">
            <h3><i class="fa fa-check-circle" aria-hidden="true"></i>Applied Successfully!!</h3>
            <div class="paragraph">Thank you for applying at <a href="http://www.lftechnology.com/" target="_blank">Leapfrog Technology</a>. Your application has been posted
              successfully! We will contact you for further processing after initial screening process.
            </div>
            <h5>Contact Details</h5>
            <div>
              <div><span class="contact-header">Phone:</span>+977-1-4419718, +977-1-6201403</div>
              <div><span class="contact-header">Address:</span>Dillibazar, Charkhal Rd</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="clearfix"><span></span> &copy;
      <a href="http://www.lftechnology.com/" target="_blank">Leapfrog Technology Inc.</a>
    </footer>
  </div>
</div>

