<interview-stage-remarks *ngIf="interviewStage == 'addRemarks'" (submit)="submitStage($event)"
                         (cancel)="cancelEdit($event)" [lastTimelineItem]="lastTimelineItem"></interview-stage-remarks>
<interview-stage-form *ngIf="interviewStage=='add' || interviewStage == 'edit'" (changeStage)="changeStageId($event)"
                      (submit)="submitStage($event)" (cancel)="cancelEdit($event)"
                      [stages]="stages" [selectedStageId]="selectedStageId"
                      [interviewStage]="interviewStage" [lastTimelineItem]="lastTimelineItem"></interview-stage-form>