<page-header pageHeader="Applicant Details"></page-header>
<div class="row">
  <div class="col-lg-12">
    <div class="block clearfix">
      <general-details [applicant]="applicant"></general-details>
      <profile [applicant]="applicant"></profile>
      <a href="#Bar" class="collapsible collapsed" data-toggle="collapse"></a>
      <div id="Bar" class="collapse">
        <experiences [experiences]="applicant?.experiences"></experiences>
        <portfolios [portfolios]="applicant?.portfolios"></portfolios>
        <educations [educations]="applicant?.educations"></educations>
        <achievements [achievements]="applicant?.achievements"></achievements>
        <references [references]="applicant?.references"></references>
        <other-details [applicant]="applicant"></other-details>
      </div>
      <hiring-pipeline (startTimeline)="startTimeline($event)"
                       *ngIf="applicant && !applicant?.is_processable"></hiring-pipeline>
      <timeline *ngIf="applicant?.is_processable && applicant" [applicant]="applicant"></timeline>
    </div>
  </div>
</div>
