<page-header pageHeader="Applicant Details"></page-header>
<div class="row">
  <div class="col-lg-12">
    <div class="block clearfix">
      <general-details></general-details>
      <profile></profile>
      <a href="#Bar" class="collapsible collapsed" data-toggle="collapse"></a>
      <div id="Bar" class="collapse">
        <experiences></experiences>
        <portfolios></portfolios>
        <educations></educations>
        <achievements></achievements>
        <references></references>
        <other-details></other-details>
      </div>
      <hiring-pipeline></hiring-pipeline>
    </div>
  </div>
</div>
