<div class="block-wrapper">
  <div class="block-title-border">
    <i class="fa fa-user-plus"></i>
    Other Details
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="common-view"><span class="view-label">Hobbies</span>
        <p class="pre-line">{{applicant?.hobbies || '-'}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="common-view"><span class="view-label">Cover Letter</span>
        <p class="pre-line">{{applicant?.cover_letter}}</p>
      </div>
    </div>
  </div>
</div>