<form *ngIf="job" (ngSubmit)="submit(job)" [ngFormModel]="formGroup">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control"
           [(ngModel)]="job.title"
           ngControl="title" id="title"/>
    <control-messages control="title" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group">
    <label>Introduction</label>
    <textarea class="form-control" rows="5"
              [(ngModel)]="job.intro"
              ngControl="intro" id="intro"></textarea>
    <control-messages control="intro" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group clearfix">
    <div class="row multiple-element">
      <div class="col-md-6 col-lg-4 element">
        <label>Valid Upto</label>
        <div class="input-group date" id="datepicker">
          <input type="text" class="form-control" [(ngModel)]="job.valid_until"
                 ngControl="validUntil" id="validUntil"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
        </div>
        <control-messages control="validUntil" [submitted]="submitted"></control-messages>
      </div>

      <div class="col-md-6 col-lg-4 element">
        <label>Number of opening</label>
        <input class="form-control" type="number" [(ngModel)]="job.number_of_opening"
               ngControl="openings" id="openings"/>
        <control-messages control="openings" [submitted]="submitted"></control-messages>
      </div>

      <div class="col-md-6 col-lg-4 element">
        <label>Position</label>
        <select class="form-control" (change)="changeSpecAndDescription($event.target.value)"
                [(ngModel)]="job.position_id">
          <option *ngFor="let position of positions" [value]="position.id">{{position.title}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="5"
              [(ngModel)]="job.description"
              ngControl="description" id="description"></textarea>
    <control-messages control="description" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group">
    <label>Specification</label>
    <textarea class="form-control" rows="5"
              [(ngModel)]="job.specification"
              ngControl="specification" id="specification"></textarea>
    <control-messages control="specification" [submitted]="submitted"></control-messages>
  </div>

  <div class="form-group">
    <label>Something</label>
    <select multiple="multiple" id="my-select" name="my-select[]">
      <option *ngFor="let as of a" value='{{as.title}}' [ngClass]="{default:as.default}"
              [disabled]="as.default==true? 'true':null" selected>{{as.title}}
      </option>
      <option *ngFor="let as of c" value="{{as.title}}">{{as.title}}</option>
    </select>
  </div>

  <div class="form-group form-actions clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-success" type="submit">
        <i class="fa fa-angle-right"></i>Submit
      </button>
    </div>
  </div>
</form>