<div class="block full timeline-full">
  <div class="block-title">
    <h2>Timeline</h2>
  </div>
  <div class="timeline block-content-full">
    <ul class="timeline-list timeline-hover">
      <li *ngFor="let timeLineItem of timelineItems" data-toggle="tooltip">
        <div class="timeline-icon"><i class='fa fa-pencil'></i>
        </div>
        <div class="timeline-time">
          {{dateUtil.getRelativeDate(timeLineItem.created_at)}}
        </div>
        <div class="timeline-content">
          <div class="push-bit timeline-item-title">{{timeLineItem.title}}</div>
          <p *ngIf="timeLineItem.remarks"><span class="weight-500">Remarks: </span>
            {{timeLineItem.remarks}}</p>
        </div>
      </li>
      <li *ngIf="stages">
        <div class="timeline-icon"><i class='fa fa-plus'></i>
        </div>
        <div class="timeline-time">
          {{getTodaysDate()}}
        </div>
        <div class="timeline-content">
          <div class="push-bit clearfix">
            <div class="col-md-6 col-lg-4 element">
              <select class="form-control" [(ngModel)]="selectedStageId" (change)="changeStage($event.target.value)">
                <option *ngFor="let stage of stages" [value]="stage.id">{{stage.title}}</option>
              </select>
            </div>
          </div>
          <div class="push-bit clearfix">
            <div class="col-md-6 col-lg-4 element" *ngIf="selectedStage?.hasOwnProperty('date')">
              <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" [(ngModel)]="selectedStage.date"
                />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>
          </div>
          <div class="push-bit clearfix" *ngIf="selectedStage?.hasOwnProperty('interviewers')">
            <div class="col-sm-12 element" *ngIf="selectedStage?.hasOwnProperty('interviewers')">
              <ul id="employees"></ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
