<div class="block full timeline-full">
  <div class="block-title">
    <h2>Timeline</h2>
  </div>
  <div class="timeline block-content-full">
    <ul class="timeline-list timeline-hover">
      <li *ngFor="let timeLineItem of timelineItems" data-toggle="tooltip">
        <div class="timeline-icon"><i class='fa fa-pencil'></i>
        </div>
        <div class="timeline-time">
          {{dateUtil.getRelativeDate(timeLineItem.created_at)}}
        </div>
        <div class="timeline-content">
          <div class="push-bit timeline-item-title">{{timeLineItem.title}}</div>
          <p *ngIf="timeLineItem.remarks"><span class="weight-500">Remarks: </span>
            {{timeLineItem.remarks}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
