<div id="page-container"
     class="header-fixed-top sidebar-partial sidebar-visible-lg footer-fixed">
    <sidebar></sidebar>
    <!--  sidebar-->
    <!-- main-container-->
    <div id="main-container">
        <header-top></header-top>
        <div id="page-content">
            <router-outlet></router-outlet>
        </div>
        <!-- Footer -->
        <footer class="clearfix"><span></span> &copy;
            <a href="http://www.lftechnology.com/" target="_blank">Leapfrog Technology Inc.</a>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- main-container-->
</div>
